<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> we are in home</h1>
<a href="register/">register</a>
<table border="1">
    <tr>
        <th>name</th>
        <th>address</th>
        <th>salary</th>
        <th>age</th>
    </tr>
{#    {% print(Employee) %}#}
    {% for employee in employee %}
        <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.age }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>