<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>db
</head>

<body>
 <form method="post" action="">
        {% csrf_token %}
        <tr>
            <td>
                {{ form.as_p }}
            </td>
        </tr>
        <tr>
            <td>
                 <button type="submit">submit</button>
            </td>
        </tr>
        </form>
</body>
</html>

{#<form action="{% url 'app:sub' %}" method="POST">#}
{#     {% csrf_token %}#}
{#    <table>#}
{#    <tr>#}
{#        <td>#}
{#            name:<input type="text" placeholder="Enter Name" name="name">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            address:<input type="text" placeholder="Enter Address" name="address">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            salary:<input type="number" placeholder="Enter Salary" name="salary">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#           age:<input type="number" placeholder="Enter Age" name="age">#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            status:<input type="ra" name="status">#}
{#        </td>#}
{#    </tr>#}
{##}
{#        <tr>#}
{#        <td>#}
{#            submit:<input type="submit" name="submit">#}
{##}
{#        </td>#}
{#    </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <a href="/">Go_Home</a>#}
{#            </td>#}
{#        </tr>#}
{##}
{##}
{#    </table>#}
{#</form>#}
{##}
{#</center>#}
{#</body>#}
{#</html>#}